<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimeAssistant.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TimeAssistant.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <TimeAssistant.App>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="RoomName" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DayEndSummaryToClipboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeMeetingBreaks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertDayEndSummarytoPastTense" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateFormat" serializeAs="String">
        <value>(o) Update:</value>
      </setting>
      <setting name="RemoveDuplicatedUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHourlyReminder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShiftStartHour" serializeAs="String">
        <value>05</value>
      </setting>
      <setting name="ShiftStartMinute" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ShiftStartTT" serializeAs="String">
        <value>PM</value>
      </setting>
    </TimeAssistant.App>
  </userSettings>
</configuration>